
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thanks for your Order...</h1>
<h4 class="bg-success text-white">Order Id : @ViewBag.OrderId</h4>

<a href="~/Product/Index" class="btn btn-success">Continue Shopping</a>

